<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/tx
                            http://www.springframework.org/schema/tx/spring-tx.xsd
                            http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-context.xsd
                            http://www.springframework.org/schema/aop
                            http://www.springframework.org/schema/aop/spring-aop.xsd
                            http://www.springframework.org/schema/cache
                            http://www.springframework.org/schema/cache/spring-cache.xsd
                            http://www.springframework.org/schema/mvc
                            http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <mvc:annotation-driven />
    <!-- 启动组件扫描，排除@Controller组件，该组件由SpringMVC配置文件扫描 -->
    <context:component-scan base-package="com.ssm.demo">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan>

    <!-- mysql数据源 druid.pool.DruidDataSource 数据库连接池性能-->
    <bean id="mysqlDataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="driverClassName" value="${mysql.driver}" />
        <property name="url" value="${mysql.url}" />
        <property name="username" value="${mysql.username}" />
        <property name="password" value="${mysql.password}" />

        <!--http://blog.csdn.net/hj7jay/article/details/51686418  以下配置详解-->
        <!--不自动提交事务-->
        <property name="defaultAutoCommit" value="false" />
        <!--定义最大连接数-->
        <property name="maxActive" value="20" />
        <!--定义初始连接数-->
        <property name="initialSize" value="1" />
        <!--定义最长等待时间-->
        <property name="maxWait" value="60000" />
        <!--定义最小空闲-->
        <property name="minIdle" value="1" />
        <!--定义最大空闲-->
        <property name="maxIdle" value="20" />

        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="60000" />
        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="300000" />

        <!--验证数据库连接有效性 http://blog.csdn.net/ruiruiafafafa/article/details/51546187-->
        <property name="validationQuery" value="SELECT 1" />

        <!-- 一般不开启后两项 https://m.aliyun.com/yunqi/ask/22104 -->
        <property name="testWhileIdle" value="true" />
        <property name="testOnBorrow" value="false" />
        <property name="testOnReturn" value="false" />

        <!--提升数据库性能 PSCache-->
        <property name="poolPreparedStatements" value="true" />
        <!--要启用PSCache值必须大于0 尽量大一点 例如100 -->
        <property name="maxPoolPreparedStatementPerConnectionSize" value="50" />
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--数据源-->
        <property name="dataSource" ref="mysqlDataSource" />
        <!--扫描包-->
        <property name="typeAliasesPackage" value="com.ssm.demo.model" />
        <!--数据库配置文件扫描位置-->
        <property name="configLocation" value="classpath:mybatis/mybatis-config.xml" />
        <!--映射文件扫描位置-->
        <property name="mapperLocations" value="classpath:mybatis/*/*.xml"></property>
    </bean>

    <!--MapperScannerConfigurer 自动扫描 将Mapper接口生成代理注入到Spring-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.ssm.demo.mapper" />
        <!--mapper 接口文件扫描路径-->
        <property name="markerInterface" value="com.ssm.demo.mapper.BaseMapper" />
        <!--连接到上面的id = sqlSessionFactory 的配置 -->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
    </bean>

    <!--持久化访问模板的工具-->
    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg ref="sqlSessionFactory" />
    </bean>

    <!--配置事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="mysqlDataSource" />
    </bean>

    <!-- 启动对@AspectJ注解的支持 -->
    <aop:aspectj-autoproxy proxy-target-class="true" />

    <!-- 配置事务切面Bean,指定事务管理器 拦截器方式配置事务-->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="delete*" propagation="REQUIRED" read-only="false" rollback-for="java.lang.Exception" />
            <tx:method name="update*" propagation="REQUIRED" read-only="false" rollback-for="java.lang.Exception" />
            <tx:method name="save*" propagation="REQUIRED" read-only="false" rollback-for="java.lang.Exception" />
            <tx:method name="batch*" propagation="REQUIRED" read-only="false" rollback-for="java.lang.Exception" />
        </tx:attributes>
    </tx:advice>
    <!-- Service aop  ????? -->
    <aop:config>
        <aop:pointcut id="pc" expression="execution(* com.ssm.demo.service.*Service.*(..))" />
        <aop:advisor pointcut-ref="pc" advice-ref="txAdvice" />
    </aop:config>
</beans>